{% extends 'blog/base_full_width.html' %}
{% block head_title %}Edit Post - Blog{% endblock %}
{% block main_area %}
  <h1>Edit Post</h1>
  <hr/>
  <form method="post" enctype="multipart/form-data">{%csrf_token%}
    <!--method : 서버로 값을 보내는 방식 결정 GET과 POST가 있다.
     enctype="multipart/form-data" : 파일도 같이 보내겠다는 의미
     csrf_token : 웹사이트를 CSRF공격으로 부터 보호하기 위해 장고가 제공하는 기능-->
    <table>
      {{form}}
      <tr>
        <th><label for="id_tags_str">Tags:</label></th>
        <td><input type="text" name="tags_str" id="id_tags_str" value="{{tags_str_default}}"></td>
        <!--포스트를 수정할 때 태그 입력란에는 기존의 태그들이 나타나야한다. -->
      </tr>
    </table>
    <button type="submit" class="btn btn-primary float-end">Summit</button>
  </form>
{%endblock%}