{% extends 'blog/base_full_width.html' %}
{% block head_title %}Create Post - Blog{% endblock %}
{% block main_area %}
  <h1>Create New Post</h1>
  <hr/>
  <form method="post" enctype="multipart/form-data">{%csrf_token%}
    <!--method : 서버로 값을 보내는 방식 결정 GET과 POST가 있다.
     enctype="multipart/form-data" : 파일도 같이 보내겠다는 의미
     csrf_token : 웹사이트를 CSRF공격으로 부터 보호하기 위해 장고가 제공하는 기능-->
    <table>
      {{form}}
    </table>
    <button type="submit" class="btn btn-primary float-end">Summit</button>
  </form>
{%endblock%}